.home{
    display:flex;
    margin:40px;
    font-size: 60px;
    
}



/*burger  */





/*  */
a{
    text-decoration:none;
    color:black;
}

.home_top{
    margin-right:auto;
}
    

.home_list{
    font-size: 15px;
    padding-top: 20px;
    list-style-type: none;
    
}
   

.list_item{

  display:inline;
  padding : 0 10px;
  /* 横並びにした要素の間隔を開ける */
}



/*  */
.top_img{
    margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);   
    position: relative;
}

.top_img img {
    display: block;
	width: 100%;
    height: 1000px;    

}


.top_item{
    position:absolute;   
    margin:0 auto;
    width:100%;
    text-align:center;
    top:500px;
    color:white;
}

.top_item1{ 

   font-size:50px;
   text-align: center;
   line-height: 170px;

}
.top_item2{
   font-size:20px;
    
}

.top_log{
    background-color:black;
    width: 100%;
	height: 400px;
    color:white;
    font-size:20px;
  
}

.top_container{
    line-height: 30px;
    padding-top:100px;
    padding-left:40px;
}

.top_item3{
    font-size:30px;
}
.top_item4{
    padding-top:20px;
    font-size:15px;
}


/*  */

.service_top{
    font-size:30px;
}

.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
  }


.card1{
    background-color:red;
    width:70%;
   margin:auto;
  

}
.card1_img img{
    width: 100%;
}

.card1_text{
    line-height: 25px;
}


.card2{
    background-color:red;
    width:70%;
   margin:auto;
 
}
.card2_img img{
    width: 100%;
}

.card2_text{
    line-height: 25px;
}

@media screen and (max-width: 768px){
    .card_container {
      width: 50%;
    }
  }
  
@media screen and (max-width: 480px){
    .card_container {
      width: 100%;
    }
  }