



a{
  text-decoration: none;
  color:white;
 }
  /*  */
  
  
  
  
   
  @media screen and (min-width:768px){
   .header img{
    margin-top:10px;
    margin-left:20px;
    width:70px;
    height:30px;
    margin-bottom:30px;
   
    position: fixed;
    display : block;
    
    z-index : 3;
  
  
   }
   
   
   
     .header img{
       margin-top:10px;
       margin-left:20px;
       width:70px;
       height:30px;
       margin-bottom:10px;
  
       position: fixed;
       z-index : 3;
      
  
      }
      
     
      .header{
  
         
  
        position: fixed;
        z-index : 3;
       display: flex; 
  
         background-color: #fff;
       width: 100%;
       height:50px;
     }
     
     .header_list{
      margin-top:20px;
  
      width:100%;
     
  
      display: flex;
      list-style: none; 
      justify-content: flex-end;
  
       
  
      position: fixed;
      z-index : 3;
     }
     
     .header_item2{
      display:none;
     }
     
     
     .header_box{
       color:black;
       margin-right:20px;
     
         }}
     
   
   
   
   
   
   /*  */
   
   @media screen and (max-width:768px){
   
   
   .header img{
     margin-top:10px;
     margin-left:20px;
     width:70px;
     height:30px;
     margin-bottom:10px;
     display: flex;
    
    }
    
   .header{
    
    background-color: #fff;
    width: 100%;
    height:50px;
  
    position: fixed;
    display : block;
    
    z-index : 3;
   }
   
   
   .header_list{
     /* margin-top:20px; */
     margin-left: auto;
     
     list-style: none; 
     text-align: right;
    }
    
    
    
    .header_box2{
      margin-right:20px;
     }
    
    
   
    .header_list{
     display:none;
       }
  
   
   
   
   
   /*  */
   .hamburger {
  
  
    position: fixed;
    display : block;
    
    z-index : 3;
    
    top   : 10px;
    width : 42px;
    height: 42px;
    cursor: pointer;
  
  
   margin-left:90%;
    
   }
   .hamburger span {
     display : block;
     position: absolute;
     width   : 30px;
     height  : 2px ;
     left    : 6px;
     background : #555;
     -webkit-transition: 0.3s ease-in-out;
     -moz-transition   : 0.3s ease-in-out;
     transition        : 0.3s ease-in-out;
   }
   .hamburger span:nth-child(1) {
     top: 10px;
   }
   .hamburger span:nth-child(2) {
     top: 20px;
   }
   .hamburger span:nth-child(3) {
     top: 30px;
   }
   
   
   .hamburger.active span:nth-child(1) {
     top : 16px;
     left: 6px;
     -webkit-transform: rotate(-45deg);
     -moz-transform   : rotate(-45deg);
     transform        : rotate(-45deg);
   }
   
   .hamburger.active span:nth-child(2),
   .hamburger.active span:nth-child(3) {
     top: 16px;
     -webkit-transform: rotate(45deg);
     -moz-transform   : rotate(45deg);
     transform        : rotate(45deg);
   }
   
   nav.globalMenuSp {
     position: fixed;
     z-index : 2;
     top  : 0;
     left : 0;
     color: #000;
     background: #fff;
     text-align: center;
  
     transform: translateX(-100%);
  
     transition: all 0.6s;
     width: 100%;
   height:100%;
   
   }
 
 
  
   nav.globalMenuSp ul {
     background:white;
     margin: 0 auto;
     padding: 0;
     width: 100%;  
  
   }
   
   nav.globalMenuSp ul li {
  
     list-style-type: none;
     padding: 0;
     margin-top:50px;
     border-bottom: 1px solid #fff; 
     
   }
   nav.globalMenuSp ul li:last-child {
     padding-bottom: 0;
     border-bottom: none;
   }
   nav.globalMenuSp ul li:hover{
     background:white;
   }
   
   nav.globalMenuSp ul li a {
     display: block;
     color: blue;
     /* padding: 1em 0; */
     text-decoration :none;
   }
   
   
   nav.globalMenuSp.active {
     transform: translateX(0);
   
   }
   
   /*  */
 
 /*  */
 /*  */
 
 .nav{
   position: absolute;
   height: 100vh;
   width: 100%;
   left: -100%;
   background: #eee;
   transition: .7s;
   text-align: center;
 }
 .nav ul{
   padding-top: 80px;
 }
 .nav ul li{
   list-style-type: none;
   margin-top: 50px;
 }
 .menu {
   display: inline-block;
   width: 36px;
   height: 32px;
   cursor: pointer;
   position: relative;
   left: 20px;
   top: 20px;
 }
 .menu__line--top,
 .menu__line--middle,
 .menu__line--bottom {
   display: inline-block;
   width: 100%;
   height: 4px;
   background-color: #000;
   position: absolute;
   transition: 0.5s;
 }
 .menu__line--top {
   top: 0;
 }
 .menu__line--middle {
   top: 14px;
 }
 .menu__line--bottom {
   bottom: 0;
 }
 .menu.open span:nth-of-type(1) {
   top: 14px;
   transform: rotate(45deg);
 }
 .menu.open span:nth-of-type(2) {
   opacity: 0;
 }
 .menu.open span:nth-of-type(3) {
   top: 14px;
   transform: rotate(-45deg);
 }
 .in{
   transform: translateX(100%);
 }}
 /*  */
 /*  */
 .top{
   position:relative;
 }
 .top img{
   height:300px;
   width:100%;
   display: block;
 }
 
 .t_text{
 position: absolute;
 top: 50%;
 text-align:center;
 width:100%;
 font-size: 50px;
 color:white;
 }
 
 
/*  */
/*  */

.inquiry{
  position:relative;
}

.inquiry_top img{
    width:100%;
    height:300px;
  
    z-index:100;
}
.i_text{
    position:absolute;
    z-index: 150;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size:250%;
    color:white;
}

/*  */
.inquiry_box{
    padding-top:60px;
}

.inquiry{

 line-height: 30px; 
 font-size:20px;
}
.box_container{
  justify-content: center;
  margin:10px auto;
 
  margin-left:10%;
}

input.hoge {
    width: 80%;
    height: 1.8em;
    }

input.hoge1{
    width:80%;
    height: 10em;
    }

    .btn{
        font-size: 20px;
        color:aliceblue;
        background-color: crimson;
        height:20px;
        width:300px;
        text-align: center;
   
        margin:0 auto;
        padding:20px;
        margin-top:15px;
        margin-bottom:40px;
        
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all  0.5s ease;
      
      }
      
      .btn:hover{
        background-color:rgb(216, 89, 115);
      }

      a{
        text-decoration:none;
        color:white;
    }
    
      /*  */

      

.bottom{
  margin-top: 50px;
  background-color:black;
  width:100%;
  height: 30%;
  line-height: 40px;
  font-size: 13px;
 
 }
 
 .bottom_item{
 padding:0 10px;
 
 }
 
 
 .bottom_item:first-child{
 margin-right: auto;
 /* width: 50px; height: 50px; */
 }
 

 /*  */

 .inpuiry{
  
  text-align: center;
  margin-top: 60px;
  line-height: 30px;
}
.inpuiry_item{
  font-size:30px;
  padding-top: 50px;
}

.btn5{
  font-size: 20px;
  
  background-color: crimson;
  height:20px;
  width: 300px;
  text-align: center;
  line-height: 30px;

  margin:0 auto;
  padding:20px;

  /* margin-top:10px; */
  /* margin-bottom:30px; */
  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all  0.5s ease;

}

.btn5:hover{
  background-color:rgb(216, 89, 115);
}

 
/*  */


     @media screen and (min-width: 768px){



      .card{
        
          display: flex; 
          border-bottom:1px solid black;
          /* border-top:1px solid black; */

         

        }
        .image {
          width: 300px; /*画像サイズ指定*/
          margin: 0;
          padding: 0;
        }
        .image img {
          width: 100%;
          height: auto;
        }
        .item {
          margin: 0 0 0 20px;
          padding: 0;
        }
        .title {
          margin: 0;
          padding: 0;
          font-weight: bold;
          font-size: 18px;
        }
        .text {
          margin: 10px 0 0;
          padding: 0;
        }
      }

  


        @media screen and (min-width:769px){
          .bottom_list{
          
          
            color:white;
            display: flex; 
            width: 100%;
            list-style-type: none;
          }}
          
          @media screen and (max-width:768px){
          .bottom_list{
            color:white;
            line-height: 30px;
            list-style-type: none;
            text-align: center;
            padding:0 20px;
            
          }}