

a{
  text-decoration: none;
  color:white;
 }
  /*  */
  
  
  
  
   
  @media screen and (min-width:768px){
   .header img{
    margin-top:10px;
    margin-left:20px;
    width:70px;
    height:30px;
    margin-bottom:30px;
   
    position: fixed;
    display : block;
    
    z-index : 3;
  
  
   }
   
   
   
     .header img{
       margin-top:10px;
       margin-left:20px;
       width:70px;
       height:30px;
       margin-bottom:10px;
  
       position: fixed;
       z-index : 3;
      
  
      }
      
     
      .header{
  
         
  
        position: fixed;
        z-index : 3;
       display: flex; 
  
         background-color: #fff;
       width: 100%;
       height:50px;
     }
     
     .header_list{
      margin-top:20px;
  
      width:100%;
     
  
      display: flex;
      list-style: none; 
      justify-content: flex-end;
  
       
  
      position: fixed;
      z-index : 3;
     }
     
     .header_item2{
      display:none;
     }
     
     
     .header_box{
       color:black;
       margin-right:20px;
     
         }}
     
   
   
   
   
   
   /*  */
   
   @media screen and (max-width:768px){
   
   
   .header img{
     margin-top:10px;
     margin-left:20px;
     width:70px;
     height:30px;
     margin-bottom:10px;
     display: flex;
    
    }
    
   .header{
    
    background-color: #fff;
    width: 100%;
    height:50px;
  
    position: fixed;
    display : block;
    
    z-index : 3;
   }
   
   
   .header_list{
     /* margin-top:20px; */
     margin-left: auto;
     
     list-style: none; 
     text-align: right;
    }
    
    
    
    .header_box2{
      margin-right:20px;
     }
    
    
   
    .header_list{
     display:none;
       }
  
   
   
   
   
   /*  */
   .hamburger {
  
  
    position: fixed;
    display : block;
    
    z-index : 3;
    
    top   : 10px;
    width : 42px;
    height: 42px;
    cursor: pointer;
  
  
   margin-left:90%;
    
   }
   .hamburger span {
     display : block;
     position: absolute;
     width   : 30px;
     height  : 2px ;
     left    : 6px;
     background : #555;
     -webkit-transition: 0.3s ease-in-out;
     -moz-transition   : 0.3s ease-in-out;
     transition        : 0.3s ease-in-out;
   }
   .hamburger span:nth-child(1) {
     top: 10px;
   }
   .hamburger span:nth-child(2) {
     top: 20px;
   }
   .hamburger span:nth-child(3) {
     top: 30px;
   }
   
   
   .hamburger.active span:nth-child(1) {
     top : 16px;
     left: 6px;
     -webkit-transform: rotate(-45deg);
     -moz-transform   : rotate(-45deg);
     transform        : rotate(-45deg);
   }
   
   .hamburger.active span:nth-child(2),
   .hamburger.active span:nth-child(3) {
     top: 16px;
     -webkit-transform: rotate(45deg);
     -moz-transform   : rotate(45deg);
     transform        : rotate(45deg);
   }
   
   nav.globalMenuSp {
     position: fixed;
     z-index : 2;
     top  : 0;
     left : 0;
     color: #000;
     background: #fff;
     text-align: center;
  
     transform: translateX(-100%);
  
     transition: all 0.6s;
     width: 100%;
   height:100%;
   
   }
 
 
  
   nav.globalMenuSp ul {
     background:white;
     margin: 0 auto;
     padding: 0;
     width: 100%;  
  
   }
   
   nav.globalMenuSp ul li {
  
     list-style-type: none;
     padding: 0;
     margin-top:50px;
     border-bottom: 1px solid #fff; 
     
   }
   nav.globalMenuSp ul li:last-child {
     padding-bottom: 0;
     border-bottom: none;
   }
   nav.globalMenuSp ul li:hover{
     background:white;
   }
   
   nav.globalMenuSp ul li a {
     display: block;
     color: blue;
     /* padding: 1em 0; */
     text-decoration :none;
   }
   
   
   nav.globalMenuSp.active {
     transform: translateX(0);
   
   }
   
   /*  */
 
 /*  */
 /*  */
 
 .nav{
   position: absolute;
   height: 100vh;
   width: 100%;
   left: -100%;
   background: #eee;
   transition: .7s;
   text-align: center;
 }
 .nav ul{
   padding-top: 80px;
 }
 .nav ul li{
   list-style-type: none;
   margin-top: 50px;
 }
 .menu {
   display: inline-block;
   width: 36px;
   height: 32px;
   cursor: pointer;
   position: relative;
   left: 20px;
   top: 20px;
 }
 .menu__line--top,
 .menu__line--middle,
 .menu__line--bottom {
   display: inline-block;
   width: 100%;
   height: 4px;
   background-color: #000;
   position: absolute;
   transition: 0.5s;
 }
 .menu__line--top {
   top: 0;
 }
 .menu__line--middle {
   top: 14px;
 }
 .menu__line--bottom {
   bottom: 0;
 }
 .menu.open span:nth-of-type(1) {
   top: 14px;
   transform: rotate(45deg);
 }
 .menu.open span:nth-of-type(2) {
   opacity: 0;
 }
 .menu.open span:nth-of-type(3) {
   top: 14px;
   transform: rotate(-45deg);
 }
 .in{
   transform: translateX(100%);
 }}
 /*  */
 /*  */
 .top{
   position:relative;
 }
 .top img{
   height:300px;
   width:100%;
   display: block;
 }
 
 .t_text{
 position: absolute;
 top: 50%;
 text-align:center;
 width:100%;
 font-size: 50px;
 color:white;
 }
 
 


/*  */
/*  */
.btn3{
    color:black;
    background-color: white;
    border-width: 1px; border-style: solid; border-color: black;

    padding:15px;
   margin-right: 50px;
   margin-left: 50px;
   margin-top: 10px;
   justify-content: center;
  
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  }
  


.news{

   margin-top:30px;
}

.n_item{
       font-color:black;
       line-height: 50px;
       width: 150px;
       margin-top:50px;
}


a{
    color:white;
    text-decoration: none;
}

button{
    font-size: 30px;
  
}

.bottom{
    
    background-color:black;
    width:100%;
    height: 30%;
    line-height: 40px;
    font-size: 13px;
   
   }
   
   .bottom_item{
   padding:0 10px;
   
   }
   
   
   .bottom_item:first-child{
   margin-right: auto;
   /* width: 50px; height: 50px; */
   }
   

   /*  */

/*  */

.inpuiry{
  margin-top:50px;
  background-color: #eee;  

  padding-bottom:50px;
  padding-top:50px;
  

  text-align: center;
    /* margin-top: 60px; */
    /* line-height: 40px; */
  }
  .inpuiry_item{
    
    
line-height: 60px;
    font-size:30px;
  
  }


  /*  */
  .btn{
    font-size: 20px;
    color:aliceblue;
    background-color:red;
    line-height: 50px;
    height:50px;
    width:300px;
    text-align: center;

    margin:0 auto;
    /* padding:20px; */
    margin-top:45px;
    /* margin-bottom:40px; */
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
  
  }
  
  .btn:hover{
    background-color:rgba(172, 7, 7, 0.497);
  }

  .btn_box{
    text-decoration:none;
    color:white;
    display: block;

    
}
   /*  */

   .bottom{
    
    background-color:black;
    width:100%;
    height: 30%;
    line-height: 40px;
    font-size: 13px;
   border-radius: 1px solid white;
   }
 
   
 
 .bottom_item{
   padding:0 5px;
   color:white;  
 }
 
  
 .bottom_item:first-child{
   margin-right:auto;
   /* width: 50px; height: 50px; */
 }
 
 
 @media screen and (min-width:769px){
  .bottom_list{
   
  ã€€
 
    color:white;
    display: flex; 
    width: 100%;
    list-style-type: none;
  }
 
  .bottom_box{
   /* margin-right:20px; */
   margin-left:10px;
   border-right: 2px solid white;
   padding-right: 20px;
  }
  .bottom_box2{
   margin-right:40px;
  }
 }
  
  @media screen and (max-width:768px){
  .bottom_list{
    color:white;
    line-height: 30px;
     /* display: flex; */
     /* flex-wrap: wrap; */
    list-style-type: none;
    text-align: center;
    /* justify-content: flex-end; */
    padding:0 20px;
    /* margin-right: auto; */
  }}
 
  
